SECRET_KEY='django-insecure-4esjn46(+tcs_xck)21*44j#o+yfm6u#oh!4v9i2+r-v=e)x25'
DEBUG='True'
ALLOWED_HOSTS=158.160.85.35,127.0.0.1,localhost,foodgram.servegame.com
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password      
POSTGRES_DB=foodgram
DB_HOST=db
DB_PORT=5432
PAGE_SIZE=6
